scripts/n8n/iberdrola-supabase-workflow.json
{
  "name": "Iberdrola -> Supabase Aspe",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule_trigger_1",
      "name": "Cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "supabase-url",
              "name": "supabaseUrl",
              "type": "string",
              "value": "https://TU-PROYECTO.supabase.co"
            },
            {
              "id": "supabase-key",
              "name": "supabaseServiceRoleKey",
              "type": "string",
              "value": "PEGA_AQUI_TU_SERVICE_ROLE_KEY"
            },
            {
              "id": "scraper-mode",
              "name": "scraperMode",
              "type": "string",
              "value": "incremental"
            },
            {
              "id": "lang",
              "name": "iberdrolaLanguage",
              "type": "string",
              "value": "es"
            },
            {
              "id": "ilatmax",
              "name": "incrementalLatMax",
              "type": "number",
              "value": 38.365
            },
            {
              "id": "ilatmin",
              "name": "incrementalLatMin",
              "type": "number",
              "value": 38.325
            },
            {
              "id": "ilonmax",
              "name": "incrementalLonMax",
              "type": "number",
              "value": -0.735
            },
            {
              "id": "ilonmin",
              "name": "incrementalLonMin",
              "type": "number",
              "value": -0.805
            },
            {
              "id": "flatmax",
              "name": "fullLatMax",
              "type": "number",
              "value": 38.62
            },
            {
              "id": "flatmin",
              "name": "fullLatMin",
              "type": "number",
              "value": 38.12
            },
            {
              "id": "flonmax",
              "name": "fullLonMax",
              "type": "number",
              "value": -0.42
            },
            {
              "id": "flonmin",
              "name": "fullLonMin",
              "type": "number",
              "value": -1.02
            }
          ]
        },
        "options": {}
      },
      "id": "config_node_1",
      "name": "Configuracion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// n8n Code node (Run once for all items)\n// Required env vars in n8n:\n// - SUPABASE_URL\n// - SUPABASE_SERVICE_ROLE_KEY\n// Optional:\n// - SCRAPER_MODE: incremental | full\n// - IBERDROLA_LANGUAGE: es | en\n// - IBERDROLA_BBOX_LAT_MAX, IBERDROLA_BBOX_LAT_MIN, IBERDROLA_BBOX_LON_MAX, IBERDROLA_BBOX_LON_MIN\n// - IBERDROLA_DAILY_BBOX_LAT_MAX, IBERDROLA_DAILY_BBOX_LAT_MIN, IBERDROLA_DAILY_BBOX_LON_MAX, IBERDROLA_DAILY_BBOX_LON_MIN\n\nconst inputConfig = $input.first()?.json || {};\n\nconst SUPABASE_URL = inputConfig.supabaseUrl || $env.SUPABASE_URL;\nconst SUPABASE_SERVICE_ROLE_KEY = inputConfig.supabaseServiceRoleKey || $env.SUPABASE_SERVICE_ROLE_KEY;\nconst SCRAPER_MODE = String(inputConfig.scraperMode || $env.SCRAPER_MODE || 'incremental').toLowerCase();\nconst IBERDROLA_LANGUAGE = String(inputConfig.iberdrolaLanguage || $env.IBERDROLA_LANGUAGE || 'es');\n\nif (!SUPABASE_URL || !SUPABASE_SERVICE_ROLE_KEY) {\n  throw new Error('Faltan SUPABASE_URL y/o SUPABASE_SERVICE_ROLE_KEY en n8n');\n}\n\nconst IBERDROLA_BASE_URL =\n  'https://www.iberdrola.es/o/webclipb/iberdrola/puntosrecargacontroller';\n\nconst KNOWN_STATIONS = [\n  {\n    station_id: 'ESIBE22E0001001',\n    cupr_id: '144579',\n    location_name: 'Av. Carlos Soria, 11, Aspe',\n    address_tokens: ['carlos', 'soria', '11', 'aspe'],\n  },\n  {\n    station_id: 'ESIBE22E0001002',\n    cupr_id: '5848',\n    location_name: 'Av. Constitucion 42, Aspe',\n    address_tokens: ['constitucion', '42', 'aspe'],\n  },\n  {\n    station_id: 'ESIBE22E0001003',\n    cupr_id: '97897',\n    location_name: 'Av. Padre Ismael 34, Aspe',\n    address_tokens: ['padre', 'ismael', '34', 'aspe'],\n  },\n  {\n    station_id: 'ESIBE22E0001004',\n    cupr_id: '97917',\n    location_name: 'Av. Juan Carlos I 36, Aspe',\n    address_tokens: ['juan', 'carlos', '36', 'aspe'],\n  },\n  {\n    station_id: 'ESIBE22E0001005',\n    cupr_id: '5849',\n    location_name: 'Calle Orihuela 100, Aspe',\n    address_tokens: ['orihuela', '100', 'aspe'],\n  },\n];\n\nconst KNOWN_STATION_IDS = new Set(KNOWN_STATIONS.map((station) => station.station_id));\nconst KNOWN_STATIONS_BY_CUPR = new Map(\n  KNOWN_STATIONS.filter((station) => station.cupr_id).map((station) => [station.cupr_id, station]),\n);\n\nconst BBOX_INCREMENTAL = {\n  latitudeMax: Number(inputConfig.incrementalLatMax ?? $env.IBERDROLA_BBOX_LAT_MAX ?? '38.365'),\n  latitudeMin: Number(inputConfig.incrementalLatMin ?? $env.IBERDROLA_BBOX_LAT_MIN ?? '38.325'),\n  longitudeMax: Number(inputConfig.incrementalLonMax ?? $env.IBERDROLA_BBOX_LON_MAX ?? '-0.735'),\n  longitudeMin: Number(inputConfig.incrementalLonMin ?? $env.IBERDROLA_BBOX_LON_MIN ?? '-0.805'),\n};\n\nconst BBOX_DAILY_FULL = {\n  latitudeMax: Number(inputConfig.fullLatMax ?? $env.IBERDROLA_DAILY_BBOX_LAT_MAX ?? '38.62'),\n  latitudeMin: Number(inputConfig.fullLatMin ?? $env.IBERDROLA_DAILY_BBOX_LAT_MIN ?? '38.12'),\n  longitudeMax: Number(inputConfig.fullLonMax ?? $env.IBERDROLA_DAILY_BBOX_LON_MAX ?? '-0.42'),\n  longitudeMin: Number(inputConfig.fullLonMin ?? $env.IBERDROLA_DAILY_BBOX_LON_MIN ?? '-1.02'),\n};\n\nfunction normalizeText(value) {\n  return String(value || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase();\n}\n\nfunction normalizeAddressForMatch(value) {\n  return normalizeText(value)\n    .replace(/\\b\\d{5}\\b/g, ' ')\n    .replace(/\\b(avenida|avda|av\\.)\\b/g, ' av ')\n    .replace(/\\b(c\\.|c\\/)\\b/g, ' calle ')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction addressTokens(value) {\n  return normalizeAddressForMatch(value).split(' ').filter(Boolean);\n}\n\nfunction toIso(value) {\n  if (!value) return null;\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n}\n\nfunction numeric(value, fallback = null) {\n  if (value === null || value === undefined || value === '') return fallback;\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction firstNonEmpty(...values) {\n  for (const value of values) {\n    if (value !== null && value !== undefined && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return null;\n}\n\nfunction formatAddressObject(value) {\n  if (!value || typeof value !== 'object') return null;\n\n  const streetName = firstNonEmpty(value.streetName, value.street, value.name);\n  const streetNum = firstNonEmpty(value.streetNum, value.number);\n  const townName = firstNonEmpty(value.townName, value.city);\n\n  const line = [streetName, streetNum].filter(Boolean).join(' ');\n  if (!line && !townName) return null;\n\n  return [line, townName].filter(Boolean).join(', ');\n}\n\nfunction extractAddress(item) {\n  const structuredAddress =\n    formatAddressObject(item?.locationData?.cpAddress) ||\n    formatAddressObject(item?.locationData?.supplyPointData?.cpAddress) ||\n    formatAddressObject(item?.supplyPointData?.cpAddress);\n\n  return firstNonEmpty(\n    structuredAddress,\n    item?.locationData?.cuprName,\n    item?.locationData?.cpAddress,\n    item?.locationData?.address,\n    item?.locationData?.supplyPointData?.cpAddress,\n    item?.supplyPointData?.cpAddress,\n    item?.address,\n    item?.addressFull,\n    item?.name,\n    `CP ${item?.cpId ?? item?.cuprId ?? 'UNKNOWN'}`,\n  );\n}\n\nfunction extractCuprId(item) {\n  return firstNonEmpty(\n    item?.cuprId,\n    item?.locationData?.cuprId,\n    item?.cpId,\n    item?.locationData?.cpId,\n  );\n}\n\nfunction extractCpId(item) {\n  return firstNonEmpty(item?.cpId, item?.locationData?.cpId, item?.cuprId);\n}\n\nfunction resolveKnownStationFromItem(item, addressText) {\n  const cuprId = extractCuprId(item);\n  if (cuprId) {\n    const knownByCupr = KNOWN_STATIONS_BY_CUPR.get(String(cuprId));\n    if (knownByCupr) return knownByCupr;\n  }\n\n  const tokens = new Set(addressTokens(addressText));\n  return KNOWN_STATIONS.find((station) =>\n    station.address_tokens.every((term) => tokens.has(term)),\n  );\n}\n\nfunction headers() {\n  return {\n    'content-type': 'application/json',\n    accept: 'application/json, text/javascript, */*; q=0.01',\n    'accept-language': 'es-ES,es;q=0.9,en;q=0.8',\n    referer: 'https://www.iberdrola.es/movilidad-electrica/recarga-fuera-de-casa',\n    origin: 'https://www.iberdrola.es',\n    'user-agent':\n      'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',\n    'x-requested-with': 'XMLHttpRequest',\n  };\n}\n\nasync function requestText(url, options = {}) {\n  if (typeof fetch === 'function') {\n    const response = await fetch(url, options);\n    const responseText = await response.text();\n    return {\n      ok: response.ok,\n      status: response.status,\n      body: responseText,\n    };\n  }\n\n  const helper = this?.helpers?.httpRequest;\n  if (typeof helper !== 'function') {\n    throw new Error('Ni fetch ni this.helpers.httpRequest estan disponibles en este nodo de n8n');\n  }\n\n  try {\n    const response = await helper({\n      url,\n      method: options.method || 'GET',\n      headers: options.headers,\n      body: options.body,\n      json: false,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n\n    return {\n      ok: response.statusCode >= 200 && response.statusCode < 300,\n      status: response.statusCode,\n      body: typeof response.body === 'string' ? response.body : JSON.stringify(response.body ?? ''),\n    };\n  } catch (error) {\n    throw new Error(`HTTP request fallo: ${error.message || error}`);\n  }\n}\n\nasync function iberdrolaPost(endpoint, body) {\n  const response = await requestText.call(this, `${IBERDROLA_BASE_URL}/${endpoint}`, {\n    method: 'POST',\n    headers: headers(),\n    body: JSON.stringify(body),\n  });\n\n  if (!response.ok) {\n    throw new Error(`Iberdrola ${endpoint} HTTP ${response.status}: ${response.body.slice(0, 300)}`);\n  }\n\n  try {\n    return JSON.parse(response.body);\n  } catch {\n    throw new Error(`Iberdrola ${endpoint} devolvio JSON invalido`);\n  }\n}\n\nasync function fetchStationsList(bbox) {\n  const payload = {\n    dto: {\n      chargePointTypesCodes: ['P', 'R', 'I', 'N'],\n      socketStatus: [],\n      advantageous: false,\n      connectorsType: [],\n      loadSpeed: [],\n      latitudeMax: bbox.latitudeMax,\n      latitudeMin: bbox.latitudeMin,\n      longitudeMax: bbox.longitudeMax,\n      longitudeMin: bbox.longitudeMin,\n    },\n    language: IBERDROLA_LANGUAGE,\n  };\n\n  const data = await iberdrolaPost('getListarPuntosRecarga', payload);\n  return Array.isArray(data?.entidad) ? data.entidad : [];\n}\n\nfunction buildFailure(message, details = {}) {\n  const error = new Error(message);\n  error.details = details;\n  return error;\n}\n\nasync function fetchStationDetail(cuprId) {\n  const payload = {\n    dto: { cuprId: [Number(cuprId)] },\n    language: IBERDROLA_LANGUAGE,\n  };\n\n  const data = await iberdrolaPost('getDatosPuntoRecarga', payload);\n  return Array.isArray(data?.entidad) && data.entidad.length ? data.entidad[0] : null;\n}\n\nfunction socketIsAvailable(statusCode) {\n  const normalized = normalizeText(statusCode);\n  if (!normalized) return false;\n  return (\n    normalized.includes('free') ||\n    normalized.includes('available') ||\n    normalized.includes('disponible') ||\n    normalized === 'operative'\n  );\n}\n\nfunction socketIsOutOfService(statusCode) {\n  const normalized = normalizeText(statusCode);\n  if (!normalized) return false;\n  return (\n    normalized.includes('fault') ||\n    normalized.includes('error') ||\n    normalized.includes('out') ||\n    normalized.includes('inoperative')\n  );\n}\n\nfunction extractLatestProviderTimestamp(listItem, detailItem, logicalSockets) {\n  const socketCandidates = logicalSockets.flatMap((socket) => [\n    socket?.status?.updateDate,\n    socket?.status?.updateDatetime,\n    socket?.status?.date,\n    socket?.status?.lastUpdate,\n    socket?.updateDate,\n    socket?.updateDatetime,\n  ]);\n\n  const candidates = [\n    detailItem?.cpStatus?.updateDate,\n    detailItem?.cpStatus?.updateDatetime,\n    detailItem?.cpStatus?.date,\n    detailItem?.cpStatus?.statusDate,\n    detailItem?.cpStatus?.lastUpdate,\n    detailItem?.status?.updateDate,\n    detailItem?.status?.updateDatetime,\n    detailItem?.status?.date,\n    detailItem?.status?.lastUpdate,\n    detailItem?.updateDate,\n    detailItem?.updateDatetime,\n    detailItem?.lastUpdate,\n    detailItem?.lastUpdatedAt,\n    listItem?.cpStatus?.updateDate,\n    listItem?.cpStatus?.updateDatetime,\n    listItem?.cpStatus?.date,\n    listItem?.status?.updateDate,\n    listItem?.status?.updateDatetime,\n    listItem?.status?.date,\n    listItem?.updateDate,\n    listItem?.updateDatetime,\n    listItem?.lastUpdate,\n    ...socketCandidates,\n  ];\n\n  const latest = candidates\n    .filter(Boolean)\n    .map((value) => toIso(value))\n    .filter(Boolean)\n    .sort()\n    .at(-1);\n\n  // Fallback operativo: evita dejar vacio el campo cuando Iberdrola omite updateDate.\n  return latest || new Date().toISOString();\n}\n\nfunction buildRow(listItem, detailItem) {\n  const address = extractAddress(detailItem) || extractAddress(listItem);\n  const known =\n    resolveKnownStationFromItem(detailItem, address) ||\n    resolveKnownStationFromItem(listItem, address);\n\n  if (!known) return null;\n\n  const logicalSockets = Array.isArray(detailItem?.logicalSocket)\n    ? detailItem.logicalSocket\n    : [];\n\n  const totalConnectors =\n    numeric(detailItem?.socketNum, null) ??\n    (logicalSockets.length > 0 ? logicalSockets.length : null);\n\n  const availableConnectors = logicalSockets.reduce((sum, socket) => {\n    const statusCode = socket?.status?.statusCode;\n    return sum + (socketIsAvailable(statusCode) ? 1 : 0);\n  }, 0);\n\n  const outOfServiceConnectors = logicalSockets.reduce((sum, socket) => {\n    const statusCode = socket?.status?.statusCode;\n    return sum + (socketIsOutOfService(statusCode) ? 1 : 0);\n  }, 0);\n\n  const availabilityUpdatedAt = extractLatestProviderTimestamp(\n    listItem,\n    detailItem,\n    logicalSockets,\n  );\n\n  const maxPowers = logicalSockets\n    .flatMap((socket) =>\n      Array.isArray(socket?.physicalSocket)\n        ? socket.physicalSocket.map((p) => numeric(p?.maxPower, null))\n        : [],\n    )\n    .filter((v) => v !== null);\n\n  const powerKw = maxPowers.length ? Math.max(...maxPowers) : 22;\n\n  const totalSafe = totalConnectors ?? logicalSockets.length;\n  const availableSafe =\n    totalSafe > 0\n      ? Math.max(0, Math.min(totalSafe, availableConnectors))\n      : null;\n\n  return {\n    station_id: known.station_id,\n    location_name: known.location_name,\n    is_available: (availableSafe ?? 0) > 0,\n    power_kw: powerKw ?? 22,\n    available_connectors: availableSafe,\n    total_connectors: totalSafe || null,\n    out_of_service_connectors: outOfServiceConnectors,\n    availability_updated_at: availabilityUpdatedAt,\n    source: 'iberdrola-web',\n    data_quality: 'observed',\n  };\n}\n\nfunction dedupeRowsByStation(rows) {\n  const deduped = new Map();\n\n  for (const row of rows) {\n    const previous = deduped.get(row.station_id);\n    if (!previous) {\n      deduped.set(row.station_id, row);\n      continue;\n    }\n\n    const prevTs = previous.availability_updated_at\n      ? new Date(previous.availability_updated_at).getTime()\n      : 0;\n    const currTs = row.availability_updated_at\n      ? new Date(row.availability_updated_at).getTime()\n      : 0;\n\n    if (currTs >= prevTs) {\n      deduped.set(row.station_id, row);\n    }\n  }\n\n  return Array.from(deduped.values());\n}\n\nasync function insertRows(rows) {\n  if (!rows.length) return;\n\n  const response = await requestText.call(this, `${SUPABASE_URL}/rest/v1/charging_logs`, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      apikey: SUPABASE_SERVICE_ROLE_KEY,\n      Authorization: `Bearer ${SUPABASE_SERVICE_ROLE_KEY}`,\n      Prefer: 'return=minimal',\n    },\n    body: JSON.stringify(rows),\n  });\n\n  if (!response.ok) {\n    throw new Error(`Supabase insert HTTP ${response.status}: ${response.body}`);\n  }\n}\n\nconst bbox = SCRAPER_MODE === 'full' ? BBOX_DAILY_FULL : BBOX_INCREMENTAL;\nconst list = await fetchStationsList.call(this, bbox);\n\nif (!list.length) {\n  throw buildFailure('Iberdrola no devolvio estaciones. Posible bloqueo, cambio de API o respuesta vacia.', {\n    stage: 'getListarPuntosRecarga',\n    bbox,\n    mode: SCRAPER_MODE,\n  });\n}\n\nconst detailRows = [];\nconst stationFailures = [];\nlet knownCandidates = 0;\n\nfor (const item of list) {\n  const listAddress = extractAddress(item);\n  const knownFromList = resolveKnownStationFromItem(item, listAddress);\n  if (!knownFromList) continue;\n\n  knownCandidates++;\n\n  const cuprId = extractCuprId(item) || extractCpId(item);\n  if (!cuprId) {\n    stationFailures.push({\n      station_id: knownFromList.station_id,\n      stage: 'resolve_cupr',\n      reason: 'Sin cuprId/cpId en listado Iberdrola',\n    });\n    continue;\n  }\n\n  try {\n    const detail = await fetchStationDetail.call(this, cuprId);\n    if (!detail) {\n      stationFailures.push({\n        station_id: knownFromList.station_id,\n        stage: 'getDatosPuntoRecarga',\n        reason: 'Detalle vacio para la estacion',\n        cuprId,\n      });\n      continue;\n    }\n\n    const row = buildRow(item, detail);\n    if (!row) {\n      stationFailures.push({\n        station_id: knownFromList.station_id,\n        stage: 'build_row',\n        reason: 'No se pudo mapear la estacion conocida',\n        cuprId,\n      });\n      continue;\n    }\n    if (!KNOWN_STATION_IDS.has(row.station_id)) {\n      stationFailures.push({\n        station_id: row.station_id,\n        stage: 'known_station_filter',\n        reason: 'Station ID fuera del conjunto esperado',\n        cuprId,\n      });\n      continue;\n    }\n\n    if (\n      row.available_connectors !== null &&\n      row.total_connectors !== null &&\n      row.total_connectors > 0\n    ) {\n      detailRows.push(row);\n    } else {\n      stationFailures.push({\n        station_id: row.station_id,\n        stage: 'validate_row',\n        reason: 'Fila sin conectores validos',\n        cuprId,\n      });\n    }\n  } catch (error) {\n    stationFailures.push({\n      station_id: knownFromList.station_id,\n      stage: 'station_detail',\n      reason: error?.message || String(error),\n      cuprId,\n    });\n  }\n}\n\nif (!knownCandidates) {\n  throw buildFailure('Iberdrola devolvio estaciones, pero ninguna coincide con las estaciones conocidas de Aspe.', {\n    stage: 'match_known_stations',\n    detected: list.length,\n    mode: SCRAPER_MODE,\n  });\n}\n\nconst dedupedRows = dedupeRowsByStation(detailRows).filter((row) =>\n  KNOWN_STATION_IDS.has(row.station_id),\n);\n\nif (!dedupedRows.length) {\n  throw buildFailure('No se pudo construir ninguna fila valida para insertar. Ejecucion marcada como fallida.', {\n    stage: 'dedupe_rows',\n    mode: SCRAPER_MODE,\n    detected: list.length,\n    knownCandidates,\n    validRows: detailRows.length,\n    stationFailures,\n  });\n}\n\nawait insertRows.call(this, dedupedRows);\n\nreturn [\n  {\n    json: {\n      ok: true,\n      mode: SCRAPER_MODE,\n      detected: list.length,\n      knownCandidates,\n      validRows: detailRows.length,\n      inserted: dedupedRows.length,\n      stationFailures,\n      timestamp: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "id": "code_scraper_1",
      "name": "Scrape + Insert Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        280
      ]
    }
  ],
  "connections": {
    "Cada 5 min": {
      "main": [
        [
          {
            "node": "Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracion": {
      "main": [
        [
          {
            "node": "Scrape + Insert Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "4",
  "id": "iberdrola-supabase-aspe"
}
