scripts/n8n/mobile-notifications-workflow.json
{
  "name": "Mobile Push Notifications Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/mobile_notification_subscriptions?select=id,station_id,notify_mode,mobile_users!inner(push_token),charger_current_status!inner(is_available)&active=eq.true&charger_current_status.is_available=eq.true&expires_at=gt.now()",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "name": "Fetch Available Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://exp.host/--/api/v2/push/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$json.mobile_users.push_token}}"
            },
            {
              "name": "title",
              "value": "⚡ Cargador Disponible"
            },
            {
              "name": "body",
              "value": "El cargador {{$json.station_id}} se encuentra libre ahora mismo."
            }
          ]
        },
        "options": {}
      },
      "name": "Send Expo Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [ 700, 300 ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/mobile_notification_subscriptions?id=eq.{{$json.id}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "active",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "name": "Deactivate Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [ 900, 300 ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Fetch Available Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Available Subscriptions": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Send Expo Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Expo Push": {
      "main": [
        [
          {
            "node": "Deactivate Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
