scripts/n8n/telegram-notifications-db-workflow.json
{
  "name": "Telegram notifications from DB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ev-notify-db",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook_trigger_1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "supabase-url",
              "name": "supabaseUrl",
              "type": "string",
              "value": "https://TU-PROYECTO.supabase.co"
            },
            {
              "id": "supabase-key",
              "name": "supabaseServiceRoleKey",
              "type": "string",
              "value": "PEGA_AQUI_TU_SERVICE_ROLE_KEY"
            },
            {
              "id": "telegram-bot-token",
              "name": "telegramBotToken",
              "type": "string",
              "value": "PEGA_AQUI_TU_TELEGRAM_BOT_TOKEN"
            },
            {
              "id": "priority-ids",
              "name": "priorityTelegramUserIds",
              "type": "string",
              "value": ""
            },
            {
              "id": "wait-seconds",
              "name": "regularWaveWaitSeconds",
              "type": "number",
              "value": 75
            },
            {
              "id": "notify-base-url",
              "name": "publicBaseUrl",
              "type": "string",
              "value": "https://cargadores-aspe.onlineexpansions.com"
            },
            {
              "id": "webhook-secret",
              "name": "notifyWebhookSecret",
              "type": "string",
              "value": ""
            },
            {
              "id": "lookback-minutes",
              "name": "lookbackMinutes",
              "type": "number",
              "value": 6
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "config_node_1",
      "name": "Configuracion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json || {};\nconst body = input.body || {};\nconst headers = input.headers || {};\n\nconst SUPABASE_URL = input.supabaseUrl || $env.SUPABASE_URL;\nconst SUPABASE_SERVICE_ROLE_KEY = input.supabaseServiceRoleKey || $env.SUPABASE_SERVICE_ROLE_KEY;\nconst TELEGRAM_BOT_TOKEN = input.telegramBotToken || $env.TELEGRAM_BOT_TOKEN;\nconst PRIORITY_IDS_RAW = input.priorityTelegramUserIds || $env.PRIORITY_TELEGRAM_USERS || '';\nconst SECRET_EXPECTED = String(input.notifyWebhookSecret || $env.N8N_NOTIFY_WEBHOOK_SECRET || '').trim();\nconst SECRET_RECEIVED = String(headers['x-notify-secret'] || headers['X-Notify-Secret'] || '').trim();\nconst LOOKBACK_MINUTES = Number(input.lookbackMinutes || 6);\nconst waitSecondsRaw = Number(input.regularWaveWaitSeconds || 75);\nconst WAIT_SECONDS = Number.isFinite(waitSecondsRaw) ? Math.max(10, Math.min(110, waitSecondsRaw)) : 75;\nconst PUBLIC_BASE_URL = String(input.publicBaseUrl || $env.APP_BASE_URL || 'https://cargadores-aspe.onlineexpansions.com').replace(/\\/+$/, '');\n\nif (!SUPABASE_URL || !SUPABASE_SERVICE_ROLE_KEY) {\n  throw new Error('Faltan SUPABASE_URL y/o SUPABASE_SERVICE_ROLE_KEY');\n}\nif (!TELEGRAM_BOT_TOKEN) {\n  throw new Error('Falta TELEGRAM_BOT_TOKEN');\n}\nif (SECRET_EXPECTED && SECRET_EXPECTED !== SECRET_RECEIVED) {\n  throw new Error('Webhook secret invalido');\n}\n\nfunction parseCsvSet(value) {\n  return new Set(String(value || '').split(',').map(function (v) { return v.trim(); }).filter(Boolean));\n}\n\nconst PRIORITY_IDS = parseCsvSet(PRIORITY_IDS_RAW);\n\nasync function requestText(url, options) {\n  if (typeof fetch === 'function') {\n    const res = await fetch(url, options);\n    const text = await res.text();\n    return { ok: res.ok, status: res.status, body: text };\n  }\n\n  const helper = this && this.helpers && this.helpers.httpRequest;\n  if (typeof helper !== 'function') {\n    throw new Error('fetch no disponible en este nodo de n8n');\n  }\n\n  const response = await helper({\n    url: url,\n    method: options.method || 'GET',\n    headers: options.headers,\n    body: options.body,\n    json: false,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n\n  return {\n    ok: response.statusCode >= 200 && response.statusCode < 300,\n    status: response.statusCode,\n    body: typeof response.body === 'string' ? response.body : JSON.stringify(response.body || '')\n  };\n}\n\nfunction supabaseHeaders(prefer) {\n  const result = {\n    apikey: SUPABASE_SERVICE_ROLE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_SERVICE_ROLE_KEY,\n    'Content-Type': 'application/json'\n  };\n  if (prefer) result.Prefer = prefer;\n  return result;\n}\n\nasync function supabaseGet(path) {\n  const response = await requestText.call(this, SUPABASE_URL + '/rest/v1/' + path, {\n    method: 'GET',\n    headers: supabaseHeaders()\n  });\n\n  if (!response.ok) {\n    throw new Error('Supabase GET ' + path + ' fallo: HTTP ' + response.status + ' ' + response.body);\n  }\n\n  return JSON.parse(response.body || '[]');\n}\n\nasync function supabasePost(path, payload, prefer) {\n  const response = await requestText.call(this, SUPABASE_URL + '/rest/v1/' + path, {\n    method: 'POST',\n    headers: supabaseHeaders(prefer),\n    body: JSON.stringify(payload)\n  });\n\n  if (!response.ok) {\n    throw new Error('Supabase POST ' + path + ' fallo: HTTP ' + response.status + ' ' + response.body);\n  }\n\n  return response.body ? JSON.parse(response.body) : [];\n}\n\nasync function sendTelegram(chatId, text) {\n  const response = await requestText.call(this, 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: String(chatId),\n      text: text,\n      disable_web_page_preview: true\n    })\n  });\n\n  if (!response.ok) {\n    throw new Error('Telegram sendMessage fallo: HTTP ' + response.status + ' ' + response.body);\n  }\n}\n\nconst lookbackIso = new Date(Date.now() - LOOKBACK_MINUTES * 60 * 1000).toISOString();\nconst logs = await supabaseGet.call(this, 'charging_logs?select=id,created_at,station_id,location_name,is_available&created_at=gt.' + encodeURIComponent(lookbackIso) + '&order=station_id.asc,created_at.desc&limit=500');\n\nconst byStation = new Map();\nfor (const row of logs) {\n  const list = byStation.get(row.station_id) || [];\n  if (list.length < 2) {\n    list.push(row);\n    byStation.set(row.station_id, list);\n  }\n}\n\nconst freeEvents = [];\nfor (const pair of byStation.values()) {\n  if (pair.length < 2) continue;\n  const current = pair[0];\n  const previous = pair[1];\n  if (!previous.is_available && current.is_available) {\n    freeEvents.push({\n      stationId: current.station_id,\n      locationName: current.location_name,\n      createdAt: current.created_at,\n      eventKey: 'libre_ahora:' + current.station_id + ':' + current.created_at\n    });\n  }\n}\n\nif (!freeEvents.length) {\n  return [{\n    json: {\n      ok: true,\n      info: 'Sin eventos de liberacion en esta ventana',\n      waitSeconds: WAIT_SECONDS,\n      pendingRegular: []\n    }\n  }];\n}\n\nconst nowIso = new Date().toISOString();\nconst pendingRegular = [];\nconst sentPriority = [];\nconst skipped = [];\n\nfor (const eventItem of freeEvents) {\n  const stationFilter = encodeURIComponent(eventItem.stationId);\n  const subsPath = 'notification_subscriptions?select=id,user_id,notify_mode,cooldown_minutes,last_notified_at,user:telegram_users(telegram_user_id,telegram_chat_id,telegram_username,is_active)&active=eq.true&station_id=eq.' + stationFilter + '&expires_at=gt.' + encodeURIComponent(nowIso) + '&limit=500';\n  const subscriptions = await supabaseGet.call(this, subsPath);\n\n  for (const sub of subscriptions) {\n    const user = sub.user || {};\n    const telegramUserId = user.telegram_user_id ? String(user.telegram_user_id) : '';\n    const telegramChatId = user.telegram_chat_id ? String(user.telegram_chat_id) : '';\n\n    if (!user.is_active || !telegramChatId) {\n      skipped.push({ reason: 'usuario_inactivo_o_sin_chat_id', subscriptionId: sub.id, stationId: eventItem.stationId });\n      continue;\n    }\n\n    if (sub.last_notified_at) {\n      const cooldownMs = Number(sub.cooldown_minutes || 30) * 60 * 1000;\n      const lastMs = new Date(sub.last_notified_at).getTime();\n      if (Number.isFinite(lastMs) && Date.now() - lastMs < cooldownMs) {\n        skipped.push({ reason: 'cooldown_activo', subscriptionId: sub.id, stationId: eventItem.stationId });\n        continue;\n      }\n    }\n\n    const dispatch = [{\n      subscription_id: sub.id,\n      event_key: eventItem.eventKey,\n      wave: 'priority'\n    }];\n\n    if (PRIORITY_IDS.has(telegramUserId)) {\n      const inserted = await supabasePost.call(this, 'notification_dispatches?on_conflict=subscription_id,event_key,wave', dispatch, 'resolution=ignore-duplicates,return=representation');\n      if (!Array.isArray(inserted) || !inserted.length) {\n        skipped.push({ reason: 'dispatch_priority_duplicado', subscriptionId: sub.id, stationId: eventItem.stationId });\n        continue;\n      }\n\n      const chargerUrl = PUBLIC_BASE_URL + '/charger/' + encodeURIComponent(eventItem.stationId);\n      const message = '✅ Cargador libre ahora\\n' + eventItem.locationName + '\\n\\nVer estado: ' + chargerUrl;\n      await sendTelegram.call(this, telegramChatId, message);\n\n      await requestText.call(this, SUPABASE_URL + '/rest/v1/notification_subscriptions?id=eq.' + encodeURIComponent(sub.id), {\n        method: 'PATCH',\n        headers: supabaseHeaders('return=minimal'),\n        body: JSON.stringify({ last_notified_at: nowIso })\n      });\n\n      sentPriority.push({ subscriptionId: sub.id, stationId: eventItem.stationId, telegramUserId: telegramUserId });\n      continue;\n    }\n\n    pendingRegular.push({\n      subscriptionId: sub.id,\n      stationId: eventItem.stationId,\n      locationName: eventItem.locationName,\n      eventKey: eventItem.eventKey,\n      telegramUserId: telegramUserId,\n      telegramChatId: telegramChatId\n    });\n  }\n}\n\nreturn [{\n  json: {\n    ok: true,\n    waitSeconds: WAIT_SECONDS,\n    sentPriorityCount: sentPriority.length,\n    pendingRegular: pendingRegular,\n    skipped: skipped\n  }\n}];"
      },
      "id": "code_priority_1",
      "name": "Procesar y enviar prioridad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        280
      ]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": "={{$json.waitSeconds || 75}}"
      },
      "id": "wait_1",
      "name": "Espera ola regular",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1000,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json || {};\nconst pendingRegular = Array.isArray(input.pendingRegular) ? input.pendingRegular : [];\nif (!pendingRegular.length) {\n  return [{ json: { ok: true, sentRegularCount: 0, info: 'No hay pendientes para ola regular' } }];\n}\n\nconst config = $('Configuracion').first().json || {};\nconst SUPABASE_URL = config.supabaseUrl || $env.SUPABASE_URL;\nconst SUPABASE_SERVICE_ROLE_KEY = config.supabaseServiceRoleKey || $env.SUPABASE_SERVICE_ROLE_KEY;\nconst TELEGRAM_BOT_TOKEN = config.telegramBotToken || $env.TELEGRAM_BOT_TOKEN;\nconst PUBLIC_BASE_URL = String(config.publicBaseUrl || $env.APP_BASE_URL || 'https://cargadores-aspe.onlineexpansions.com').replace(/\\/+$/, '');\n\nif (!SUPABASE_URL || !SUPABASE_SERVICE_ROLE_KEY || !TELEGRAM_BOT_TOKEN) {\n  throw new Error('Faltan variables para ola regular');\n}\n\nasync function requestText(url, options) {\n  if (typeof fetch === 'function') {\n    const res = await fetch(url, options);\n    const text = await res.text();\n    return { ok: res.ok, status: res.status, body: text };\n  }\n\n  const helper = this && this.helpers && this.helpers.httpRequest;\n  if (typeof helper !== 'function') {\n    throw new Error('fetch no disponible en este nodo de n8n');\n  }\n\n  const response = await helper({\n    url: url,\n    method: options.method || 'GET',\n    headers: options.headers,\n    body: options.body,\n    json: false,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n\n  return {\n    ok: response.statusCode >= 200 && response.statusCode < 300,\n    status: response.statusCode,\n    body: typeof response.body === 'string' ? response.body : JSON.stringify(response.body || '')\n  };\n}\n\nfunction supabaseHeaders(prefer) {\n  const result = {\n    apikey: SUPABASE_SERVICE_ROLE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_SERVICE_ROLE_KEY,\n    'Content-Type': 'application/json'\n  };\n  if (prefer) result.Prefer = prefer;\n  return result;\n}\n\nasync function insertDispatch(subscriptionId, eventKey) {\n  const response = await requestText.call(this, SUPABASE_URL + '/rest/v1/notification_dispatches?on_conflict=subscription_id,event_key,wave', {\n    method: 'POST',\n    headers: supabaseHeaders('resolution=ignore-duplicates,return=representation'),\n    body: JSON.stringify([{\n      subscription_id: subscriptionId,\n      event_key: eventKey,\n      wave: 'regular'\n    }])\n  });\n\n  if (!response.ok) {\n    throw new Error('No se pudo insertar dispatch regular: HTTP ' + response.status + ' ' + response.body);\n  }\n\n  return response.body ? JSON.parse(response.body) : [];\n}\n\nasync function sendTelegram(chatId, text) {\n  const response = await requestText.call(this, 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/sendMessage', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: String(chatId),\n      text: text,\n      disable_web_page_preview: true\n    })\n  });\n\n  if (!response.ok) {\n    throw new Error('Telegram sendMessage regular fallo: HTTP ' + response.status + ' ' + response.body);\n  }\n}\n\nlet sentRegularCount = 0;\nconst skipped = [];\nconst nowIso = new Date().toISOString();\n\nfor (const item of pendingRegular) {\n  if (!item.subscriptionId || !item.eventKey || !item.telegramChatId) {\n    skipped.push({ reason: 'item_regular_incompleto', item: item });\n    continue;\n  }\n\n  const inserted = await insertDispatch.call(this, item.subscriptionId, item.eventKey);\n  if (!Array.isArray(inserted) || !inserted.length) {\n    skipped.push({ reason: 'dispatch_regular_duplicado', subscriptionId: item.subscriptionId, stationId: item.stationId });\n    continue;\n  }\n\n  const chargerUrl = PUBLIC_BASE_URL + '/charger/' + encodeURIComponent(item.stationId);\n  const message = '🔔 Aviso de disponibilidad\\n' + item.locationName + '\\n\\nVer estado: ' + chargerUrl;\n  await sendTelegram.call(this, item.telegramChatId, message);\n\n  await requestText.call(this, SUPABASE_URL + '/rest/v1/notification_subscriptions?id=eq.' + encodeURIComponent(item.subscriptionId), {\n    method: 'PATCH',\n    headers: supabaseHeaders('return=minimal'),\n    body: JSON.stringify({ last_notified_at: nowIso })\n  });\n\n  sentRegularCount += 1;\n}\n\nreturn [{\n  json: {\n    ok: true,\n    sentRegularCount: sentRegularCount,\n    skipped: skipped\n  }\n}];"
      },
      "id": "code_regular_1",
      "name": "Enviar regular",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracion": {
      "main": [
        [
          {
            "node": "Procesar y enviar prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar y enviar prioridad": {
      "main": [
        [
          {
            "node": "Espera ola regular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera ola regular": {
      "main": [
        [
          {
            "node": "Enviar regular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "1",
  "id": "telegram-notifications-db-workflow"
}
