scripts/n8n/telegram-subscriptions-bot-workflow.json
{
  "name": "Telegram Subscription Bot Aspe",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "telegram_trigger_1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        260,
        280
      ],
      "credentials": {
        "telegramApi": {
          "id": "PLEASE_CONFIGURE",
          "name": "Telegram Bot Aspe"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "supabase-url",
              "name": "supabaseUrl",
              "type": "string",
              "value": "https://TU-PROYECTO.supabase.co"
            },
            {
              "id": "supabase-key",
              "name": "supabaseServiceRoleKey",
              "type": "string",
              "value": "PEGA_AQUI_TU_SERVICE_ROLE_KEY"
            },
            {
              "id": "telegram-bot-token",
              "name": "telegramBotToken",
              "type": "string",
              "value": "PEGA_AQUI_TU_TELEGRAM_BOT_TOKEN"
            },
            {
              "id": "initial-admin-ids",
              "name": "initialBotAdminTelegramUserIds",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "config_node_1",
      "name": "Configuracion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json || {};\nconst trigger = $node['Telegram Trigger'] ? ($node['Telegram Trigger'].json || {}) : {};\nconst message = trigger.message || null;\nconst callbackQuery = trigger.callback_query || null;\nconst srcMessage = callbackQuery ? (callbackQuery.message || {}) : (message || {});\nconst from = callbackQuery ? (callbackQuery.from || {}) : ((message && message.from) || {});\nconst chat = srcMessage.chat || ((message && message.chat) || {});\nconst chatId = chat.id ? String(chat.id) : '';\nconst messageId = srcMessage.message_id;\nconst callbackId = callbackQuery ? callbackQuery.id : null;\nconst text = String((message && message.text) || '').trim();\nconst callbackData = String((callbackQuery && callbackQuery.data) || '').trim();\nconst command = callbackData || text || '/start';\n\nconst SUPABASE_URL = String(input.supabaseUrl || $env.SUPABASE_URL || '').trim();\nconst SUPABASE_SERVICE_ROLE_KEY = String(input.supabaseServiceRoleKey || $env.SUPABASE_SERVICE_ROLE_KEY || '').trim();\nconst TELEGRAM_BOT_TOKEN = String(input.telegramBotToken || $env.TELEGRAM_BOT_TOKEN || '').trim();\nconst INITIAL_ADMIN_IDS = new Set(String(input.initialBotAdminTelegramUserIds || $env.INITIAL_BOT_ADMIN_TELEGRAM_USER_IDS || '').split(',').map(v => v.trim()).filter(Boolean));\n\nif (!SUPABASE_URL || !SUPABASE_SERVICE_ROLE_KEY || !TELEGRAM_BOT_TOKEN) throw new Error('Faltan variables en Configuracion');\nif (!chatId) return [{ json: { ok: true, ignored: true, reason: 'Sin chatId' } }];\n\nfunction supabaseHeaders(prefer) {\n  const h = { apikey: SUPABASE_SERVICE_ROLE_KEY, Authorization: 'Bearer ' + SUPABASE_SERVICE_ROLE_KEY, 'Content-Type': 'application/json' };\n  if (prefer) h.Prefer = prefer;\n  return h;\n}\n\nasync function requestText(url, options) {\n  if (typeof fetch === 'function') {\n    const r = await fetch(url, options);\n    const b = await r.text();\n    return { ok: r.ok, status: r.status, body: b };\n  }\n  const helper = this && this.helpers && this.helpers.httpRequest;\n  if (typeof helper !== 'function') throw new Error('fetch no disponible');\n  const r = await helper({ url: url, method: options.method || 'GET', headers: options.headers, body: options.body, json: false, returnFullResponse: true, ignoreHttpStatusErrors: true });\n  return { ok: r.statusCode >= 200 && r.statusCode < 300, status: r.statusCode, body: typeof r.body === 'string' ? r.body : JSON.stringify(r.body || '') };\n}\n\nasync function supabaseGet(path) {\n  const r = await requestText.call(this, SUPABASE_URL + '/rest/v1/' + path, { method: 'GET', headers: supabaseHeaders() });\n  if (!r.ok) throw new Error('Supabase GET fallo: ' + path + ' -> ' + r.status + ' ' + r.body);\n  return r.body ? JSON.parse(r.body) : [];\n}\n\nasync function supabasePost(path, payload, prefer) {\n  const r = await requestText.call(this, SUPABASE_URL + '/rest/v1/' + path, { method: 'POST', headers: supabaseHeaders(prefer), body: JSON.stringify(payload) });\n  if (!r.ok) throw new Error('Supabase POST fallo: ' + path + ' -> ' + r.status + ' ' + r.body);\n  return r.body ? JSON.parse(r.body) : [];\n}\n\nasync function supabasePatch(path, payload, prefer) {\n  const r = await requestText.call(this, SUPABASE_URL + '/rest/v1/' + path, { method: 'PATCH', headers: supabaseHeaders(prefer), body: JSON.stringify(payload) });\n  if (!r.ok) throw new Error('Supabase PATCH fallo: ' + path + ' -> ' + r.status + ' ' + r.body);\n  return r.body ? JSON.parse(r.body) : [];\n}\n\nasync function telegramApi(method, payload) {\n  const r = await requestText.call(this, 'https://api.telegram.org/bot' + TELEGRAM_BOT_TOKEN + '/' + method, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(payload || {}) });\n  if (!r.ok) throw new Error('Telegram API fallo en ' + method + ': ' + r.status + ' ' + r.body);\n  return r.body ? JSON.parse(r.body) : {};\n}\n\nfunction kb(rows) { return { inline_keyboard: rows }; }\n\nasync function sendOrEdit(textOut, keyboard) {\n  if (callbackQuery && messageId) {\n    try {\n      return await telegramApi.call(this, 'editMessageText', { chat_id: chatId, message_id: messageId, text: textOut, disable_web_page_preview: true, reply_markup: keyboard });\n    } catch (e) {}\n  }\n  return await telegramApi.call(this, 'sendMessage', { chat_id: chatId, text: textOut, disable_web_page_preview: true, reply_markup: keyboard });\n}\n\nasync function answer(textOut, alert) {\n  if (!callbackId) return;\n  await telegramApi.call(this, 'answerCallbackQuery', { callback_query_id: callbackId, text: textOut || '', show_alert: Boolean(alert) });\n}\n\nasync function upsertUser() {\n  const tgId = from.id ? String(from.id) : '';\n  const tgUser = from.username ? String(from.username) : null;\n  const existingRows = await supabaseGet.call(this, 'telegram_users?select=id,telegram_user_id,telegram_username,is_premium,is_bot_admin,is_blocked,blocked_until,anti_bot_strikes,command_window_start,command_window_count,last_command_at,is_active&telegram_user_id=eq.' + encodeURIComponent(tgId) + '&limit=1');\n  const existing = Array.isArray(existingRows) && existingRows.length ? existingRows[0] : null;\n  const isBotAdmin = Boolean((existing && existing.is_bot_admin) || INITIAL_ADMIN_IDS.has(tgId));\n  const isPremium = Boolean(existing && existing.is_premium);\n  const rows = await supabasePost.call(this, 'telegram_users?on_conflict=telegram_user_id', {\n    telegram_user_id: tgId,\n    telegram_chat_id: chatId,\n    telegram_username: tgUser,\n    is_premium: isPremium,\n    is_bot_admin: isBotAdmin,\n    is_blocked: Boolean(existing && existing.is_blocked),\n    blocked_until: existing ? (existing.blocked_until || null) : null,\n    anti_bot_strikes: Number(existing && existing.anti_bot_strikes || 0),\n    command_window_start: existing ? (existing.command_window_start || null) : null,\n    command_window_count: Number(existing && existing.command_window_count || 0),\n    last_command_at: existing ? (existing.last_command_at || null) : null,\n    is_active: true,\n    last_interaction_at: new Date().toISOString()\n  }, 'resolution=merge-duplicates,return=representation');\n  return Array.isArray(rows) && rows.length ? rows[0] : null;\n}\n\nasync function applyAntiBot(user) {\n  const now = Date.now();\n  const nowIso = new Date(now).toISOString();\n\n  const blockedUntilMs = user.blocked_until ? new Date(user.blocked_until).getTime() : null;\n  if (user.is_blocked && (!blockedUntilMs || blockedUntilMs > now)) {\n    const minsLeft = blockedUntilMs ? Math.max(1, Math.ceil((blockedUntilMs - now) / 60000)) : 60;\n    return { blocked: true, minutes: minsLeft, user: user };\n  }\n\n  let isBlocked = false;\n  let blockedUntil = null;\n  if (user.is_blocked && blockedUntilMs && blockedUntilMs <= now) {\n    isBlocked = false;\n    blockedUntil = null;\n  } else {\n    isBlocked = Boolean(user.is_blocked);\n    blockedUntil = user.blocked_until || null;\n  }\n\n  const lastCommandMs = user.last_command_at ? new Date(user.last_command_at).getTime() : null;\n  const windowStartMsRaw = user.command_window_start ? new Date(user.command_window_start).getTime() : null;\n  const windowExpired = !Number.isFinite(windowStartMsRaw) || (now - windowStartMsRaw) > 60000;\n  const windowStartMs = windowExpired ? now : windowStartMsRaw;\n  const currentWindowCount = windowExpired ? 1 : Number(user.command_window_count || 0) + 1;\n\n  const tooFast = Number.isFinite(lastCommandMs) && (now - lastCommandMs) < 500;\n  const tooManyInWindow = currentWindowCount > 18;\n\n  let strikes = Number(user.anti_bot_strikes || 0);\n  if (tooFast || tooManyInWindow) {\n    strikes += 1;\n    const blockMinutes = strikes >= 5 ? 1440 : strikes >= 3 ? 180 : 15;\n    const blockedUntilIso = new Date(now + blockMinutes * 60000).toISOString();\n\n    await supabasePatch.call(this, 'telegram_users?id=eq.' + encodeURIComponent(user.id), {\n      is_blocked: true,\n      blocked_until: blockedUntilIso,\n      anti_bot_strikes: strikes,\n      command_window_start: nowIso,\n      command_window_count: currentWindowCount,\n      last_command_at: nowIso,\n      last_interaction_at: nowIso\n    }, 'return=minimal');\n\n    return { blocked: true, minutes: blockMinutes, user: Object.assign({}, user, { is_blocked: true, blocked_until: blockedUntilIso, anti_bot_strikes: strikes }) };\n  }\n\n  await supabasePatch.call(this, 'telegram_users?id=eq.' + encodeURIComponent(user.id), {\n    is_blocked: isBlocked,\n    blocked_until: blockedUntil,\n    command_window_start: new Date(windowStartMs).toISOString(),\n    command_window_count: currentWindowCount,\n    last_command_at: nowIso,\n    last_interaction_at: nowIso\n  }, 'return=minimal');\n\n  return { blocked: false, user: Object.assign({}, user, { is_blocked: isBlocked, blocked_until: blockedUntil, anti_bot_strikes: strikes }) };\n}\n\nasync function getStations() {\n  return await supabaseGet.call(this, 'charger_current_status?select=station_id,location_name,is_available,available_connectors,total_connectors&order=location_name.asc');\n}\n\nasync function getSubs(userId) {\n  const nowIso = encodeURIComponent(new Date().toISOString());\n  return await supabaseGet.call(this, 'notification_subscriptions?select=id,station_id,notify_mode,expires_at&user_id=eq.' + encodeURIComponent(userId) + '&active=eq.true&expires_at=gt.' + nowIso + '&order=created_at.desc');\n}\n\nasync function getUsers() {\n  return await supabaseGet.call(this, 'telegram_users?select=id,telegram_user_id,telegram_username,is_premium,is_bot_admin,is_blocked,blocked_until&order=telegram_username.asc.nullslast,telegram_user_id.asc&limit=40');\n}\n\nfunction userLabel(u) { return u.telegram_username ? ('@' + u.telegram_username) : ('ID ' + u.telegram_user_id); }\n\nasync function menu(user) {\n  const premiumTxt = user.is_premium ? 'Premium: activado' : 'Premium: normal';\n  const adminTxt = user.is_bot_admin ? '\\nRol: administrador del bot' : '';\n  const rows = [\n    [{ text: 'Suscribirme a un cargador', callback_data: 'subscribe:list' }],\n    [{ text: 'Mis notificaciones', callback_data: 'mysubs:list' }],\n    [{ text: 'Ver estado actual', callback_data: 'status:list' }]\n  ];\n  if (user.is_bot_admin) rows.push([{ text: 'Gestionar premium', callback_data: 'premium:list' }]);\n  await sendOrEdit.call(this, 'Panel del bot de cargadores de Aspe\\n\\n' + premiumTxt + adminTxt, kb(rows));\n}\n\nasync function statusList() {\n  const stations = await getStations.call(this);\n  if (!stations.length) return await sendOrEdit.call(this, 'No hay estado disponible.', kb([[{ text: 'Menú', callback_data: 'menu:main' }]]));\n  const lines = ['Estado actual de cargadores:'];\n  for (const s of stations) {\n    const avail = s.is_available ? 'Libre' : 'Ocupado';\n    const c = s.available_connectors == null || s.total_connectors == null ? '' : (' (' + s.available_connectors + '/' + s.total_connectors + ')');\n    lines.push('• ' + s.location_name + ': ' + avail + c);\n  }\n  await sendOrEdit.call(this, lines.join('\\n'), kb([[{ text: 'Suscribirme', callback_data: 'subscribe:list' }], [{ text: 'Menú', callback_data: 'menu:main' }]]));\n}\n\nasync function subscribeList() {\n  const stations = await getStations.call(this);\n  if (!stations.length) return await sendOrEdit.call(this, 'No encuentro cargadores ahora mismo.', kb([[{ text: 'Menú', callback_data: 'menu:main' }]]));\n  const rows = stations.map(s => [{ text: s.location_name + ' · ' + (s.is_available ? 'Libre' : 'Ocupado'), callback_data: 'sub:add:' + s.station_id }]);\n  rows.push([{ text: 'Menú', callback_data: 'menu:main' }]);\n  await sendOrEdit.call(this, 'Elige un cargador para crear alerta (24h, primer aviso):', kb(rows));\n}\n\nasync function addSub(user, stationId) {\n  const exists = await supabaseGet.call(this, 'notification_subscriptions?select=id&user_id=eq.' + encodeURIComponent(user.id) + '&station_id=eq.' + encodeURIComponent(stationId) + '&active=eq.true&limit=1');\n  if (exists.length) return await sendOrEdit.call(this, 'Ya tienes una alerta activa para ese cargador.', kb([[{ text: 'Mis notificaciones', callback_data: 'mysubs:list' }], [{ text: 'Menú', callback_data: 'menu:main' }]]));\n  const expiresAt = new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString();\n  await supabasePost.call(this, 'notification_subscriptions', { user_id: user.id, station_id: stationId, notify_mode: 'first_only', cooldown_minutes: 30, expires_at: expiresAt, active: true }, 'return=minimal');\n  await sendOrEdit.call(this, 'Alerta creada para ' + stationId + ' (24h, primer aviso).', kb([[{ text: 'Mis notificaciones', callback_data: 'mysubs:list' }], [{ text: 'Crear otra', callback_data: 'subscribe:list' }], [{ text: 'Menú', callback_data: 'menu:main' }]]));\n}\n\nasync function mySubs(user) {\n  const subs = await getSubs.call(this, user.id);\n  if (!subs.length) return await sendOrEdit.call(this, 'No tienes alertas activas.', kb([[{ text: 'Crear alerta', callback_data: 'subscribe:list' }], [{ text: 'Menú', callback_data: 'menu:main' }]]));\n  const stations = await getStations.call(this);\n  const byId = new Map(stations.map(s => [s.station_id, s.location_name]));\n  const lines = ['Tus notificaciones activas:'];\n  const rows = [];\n  for (const sub of subs) {\n    const label = byId.get(sub.station_id) || sub.station_id;\n    const mode = sub.notify_mode === 'repeat' ? 'repetir' : 'primer aviso';\n    lines.push('• ' + label + ' · ' + mode + ' · hasta ' + sub.expires_at);\n    rows.push([{ text: 'Eliminar ' + label.slice(0, 24), callback_data: 'sub:remove:' + sub.id }]);\n  }\n  rows.push([{ text: 'Menú', callback_data: 'menu:main' }]);\n  await sendOrEdit.call(this, lines.join('\\n'), kb(rows));\n}\n\nasync function removeSub(user, subId) {\n  const rows = await supabasePatch.call(this, 'notification_subscriptions?id=eq.' + encodeURIComponent(subId) + '&user_id=eq.' + encodeURIComponent(user.id), { active: false }, 'return=representation');\n  if (!rows.length) return await sendOrEdit.call(this, 'No he podido eliminar esa alerta.', kb([[{ text: 'Mis notificaciones', callback_data: 'mysubs:list' }], [{ text: 'Menú', callback_data: 'menu:main' }]]));\n  await sendOrEdit.call(this, 'Alerta eliminada.', kb([[{ text: 'Mis notificaciones', callback_data: 'mysubs:list' }], [{ text: 'Menú', callback_data: 'menu:main' }]]));\n}\n\nasync function premiumList(user) {\n  if (!user.is_bot_admin) {\n    await answer.call(this, 'Solo un administrador puede gestionar premium.', true);\n    return await menu.call(this, user);\n  }\n  const users = await getUsers.call(this);\n  const lines = ['Gestionar premium:'];\n  const rows = [];\n  for (const u of users) {\n    const marker = u.is_premium ? '✅' : '⬜';\n    const blocked = u.is_blocked ? ' · bloqueado' : '';\n    lines.push(marker + ' ' + userLabel(u) + (u.is_bot_admin ? ' · admin' : '') + blocked);\n    rows.push([{ text: (u.is_premium ? 'Quitar premium a ' : 'Dar premium a ') + userLabel(u).slice(0, 18), callback_data: 'premium:toggle:' + u.id }]);\n  }\n  rows.push([{ text: 'Menú', callback_data: 'menu:main' }]);\n  await sendOrEdit.call(this, lines.join('\\n'), kb(rows));\n}\n\nasync function premiumToggle(actor, targetId) {\n  if (!actor.is_bot_admin) {\n    await answer.call(this, 'Solo un administrador puede gestionar premium.', true);\n    return await menu.call(this, actor);\n  }\n  const rows = await supabaseGet.call(this, 'telegram_users?select=id,is_premium&id=eq.' + encodeURIComponent(targetId) + '&limit=1');\n  const target = rows.length ? rows[0] : null;\n  if (!target) return await sendOrEdit.call(this, 'No he encontrado ese usuario.', kb([[{ text: 'Gestionar premium', callback_data: 'premium:list' }], [{ text: 'Menú', callback_data: 'menu:main' }]]));\n  await supabasePatch.call(this, 'telegram_users?id=eq.' + encodeURIComponent(target.id), { is_premium: !target.is_premium }, 'return=minimal');\n  await premiumList.call(this, actor);\n}\n\nconst user = await upsertUser.call(this);\nif (!user) throw new Error('No se pudo crear o recuperar el usuario');\n\nconst antiBot = await applyAntiBot.call(this, user);\nif (antiBot.blocked) {\n  const msg = 'Acceso temporalmente limitado por seguridad anti-bot.\\nVuelve a intentarlo en ' + antiBot.minutes + ' minutos.';\n  if (callbackId) await answer.call(this, msg, true);\n  await telegramApi.call(this, 'sendMessage', { chat_id: chatId, text: msg, disable_web_page_preview: true });\n  return [{ json: { ok: true, blocked: true, handledCommand: command, chatId: chatId, telegramUserId: from.id ? String(from.id) : null } }];\n}\n\nconst currentUser = antiBot.user || user;\nif (callbackId) await answer.call(this, 'Procesando', false);\n\nif (command === '/start' || command === '/menu' || command === 'menu:main') {\n  await menu.call(this, currentUser);\n} else if (command === 'status:list') {\n  await statusList.call(this);\n} else if (command === 'subscribe:list') {\n  await subscribeList.call(this);\n} else if (command.indexOf('sub:add:') === 0) {\n  await addSub.call(this, currentUser, command.split(':').slice(2).join(':'));\n} else if (command === 'mysubs:list') {\n  await mySubs.call(this, currentUser);\n} else if (command.indexOf('sub:remove:') === 0) {\n  await removeSub.call(this, currentUser, command.split(':')[2]);\n} else if (command === 'premium:list') {\n  await premiumList.call(this, currentUser);\n} else if (command.indexOf('premium:toggle:') === 0) {\n  await premiumToggle.call(this, currentUser, command.split(':')[2]);\n} else {\n  await menu.call(this, currentUser);\n}\n\nreturn [{ json: { ok: true, handledCommand: command, chatId: chatId, telegramUserId: from.id ? String(from.id) : null } }];"
      },
      "id": "code_manage_1",
      "name": "Gestionar bot y suscripciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        280
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracion": {
      "main": [
        [
          {
            "node": "Gestionar bot y suscripciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "2",
  "id": "telegram-subscriptions-bot-workflow"
}
